<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- chat messages-->
            @for (message of messages(); track $index) {
                @if (message.isGpt) {
                    <app-chat-message [text]="message.text"></app-chat-message>
                }@else {
                    <app-my-message [text]="message.text"></app-my-message>
                }
            }
            @if (isLoading()) {
                <app-typing-loader></app-typing-loader>
            }
        </div>
    </div>
    <!-- messageBox -->
    <!-- <app-text-message-box (onMessage)="handleMessage($event)" placeholder="Ingrese su texto aquí..."></app-text-message-box> -->
    <!-- <app-text-message-box-file (onMessage)="handleMessageFile($event)" placeholder="Ingrese su texto aquí..."></app-text-message-box-file> -->
    <app-text-message-box-select (onMessage)="handleMessageSelect($event)"
        placeholder="Ingrese su texto aquí..."
        [options]="[{id: '1', text:'Uno'}, {id: '2', text:'Dos'}]">
    </app-text-message-box-select>
</div>