<div class="chat-container">
    <div class="chat-messages">
        <div class="grid gap-y-2">
            <!-- chat messages-->
            <app-chat-message text="Ingrese el texto aqui"></app-chat-message>

            <app-my-message text=" Hola buenas tardes"></app-my-message>

            <app-typing-loader></app-typing-loader>
        </div>
    </div>
    <!-- messageBox -->
    <!-- <app-text-message-box (onMessage)="handleMessage($event)" placeholder="Ingrese su texto aquí..."></app-text-message-box> -->
    <app-text-message-box-file (onMessage)="handleMessageFile($event)" placeholder="Ingrese su texto aquí..."></app-text-message-box-file>
</div>